---
import Card from '../components/Gestionar.astro';
---
  

<div class="centeredContainer">
  <div class="horizontalContainer">
    <Card />
  </div>
</div>

<style>
  /* Aquí puedes agregar estilos adicionales si es necesario */
</style>
